@model E_Commerce.Areas.Admin.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewUsers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewUsers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewSellers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewSellers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateSeller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateSeller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteSeller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteSeller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditSeller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditSeller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViewCategories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViewCategories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EditCProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EditCProduct)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
