@model E_Commerce.Models.Seller

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Seller</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Banned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Banned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.CityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SellerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
